*{
    margin: 0px;
    padding: 0px;
}
.header-area{
    padding-left: 0em;
    align-items: center;

}
.icon-image{
    
    width: 5em;
}
.head-name{
    padding-top: .7em;
    font-size: 2em;
    text-align: left;
    align-items: center;
    color: #fff;
}
